.imgbox {
  box-sizing: flex-box;
  margin: .5rem;
  height: 37rem;
  width: 69rem;
  overflow: hidden;
  display: flex;
  color: white;
  position: relative;
  background-color: white;
}

.caption {

  position: absolute;
  top: 50%;
  left: 65%;
  color: white;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  font-size: 16rem;
  letter-spacing: .3rem;
  text-align: center;

}

.transparentbox {
  height: 250px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.imgbox:hover img {
  transform: scale(1.1);
}

.imgbox:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.imgbox:hover .caption {
  transform: translateY(-20px);
  opacity: 100.0;
  color: rgb(254, 251, 251);
}

.imgbox:hover {
  cursor: pointer;
}

.caption>p:nth-child(2) {
  font-size: 0.8rem;
}

@media only screen and (max-width: 480px) {
  .imgbox {
    height: auto;
    width: 30rem;
  }

  .caption {
    font-size: 4rem;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

/* Media query for screens smaller than or equal to 768px */
@media only screen and (max-width: 768px) {
  .imgbox {
    height: auto;
    width: 91%;
  }

  .caption {
    font-size: 8rem;
    left: 10%;
    top: 20%;
    transform: translateX(-50%) translateY(-50%);
  }
}

/* Media query for screens larger than 768px and smaller than or equal to 1024px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .imgbox {
    height: 30rem;
    width: 94%;
  }

  .caption {
    font-size: 15rem;
    left: 10%;
    top: 20%;
    transform: translateX(-50%) translateY(-50%);
  }
}

/* Media query for screens larger than 1024px */
@media only screen and (min-width: 1025px) {
  .imgbox {
    height: 37rem;
    width: 69rem;

  }

  .caption {
    font-size: 15rem;
    left: 10%;
    top: 20%;
    transform: translateX(-50%) translateY(-50%);
  }
}